<div class=".container-fluid d-flex">
    <div class="ms-5 d-flex flex-column">
      <p class="mt-5">Hi... I am Chintan Kothari</p>

      <pre class="pre-word-break-save-foramt mt-5">
  I’m a Backend Developer at Amdocs with over 3.5 years of experience, passionate about crafting scalable, automation-driven solutions with Python and cloud tech. I live for optimizing workflows and building reliable software that saves time and solves real-world challenges.
  
  🔹 Here’s what I’ve delivered:
  
  ☁️ Cloud Automation: Engineered Python-based cloud functions on GCP, slashing operational time by 85% and saving 13+ business hours monthly—including a secure Active Directory integration via Serverless VPC Access.
  ⚙️ API & DevOps: Built RESTful APIs with and automated Google Workspace ops using Python, Terraform, and GitLab CI/CD, boosting efficiency by 80%.
  🚀 Process Optimization: Redesigned an automated customer port cancellation process, achieving zero production failures and saving 14 hours monthly.
  📊 Data Efficiency: Created a Pandas-based tool that cut compliance assessment time from 2 weeks to 10 minutes.
  💡 Let’s connect! If you’re into cloud innovation, automation, or building smarter systemsI’d love to chat.
      </pre>

    </div>
    <img class="border" src="image.jpeg" width="400" alt="">
  </div>